html {
  font-size: 3vw;
  overflow-x: hidden;
}

input {
  padding: 4px;
  font-size: 2vw;
}

/* For modern browsers */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
}

/* For Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

a {
  text-decoration: none;
  color: rgb(3, 3, 3);
}